:root {
    --blue-but: #5399bc;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.content {
    width: 100vw;
}

div.nav-top {
    width: 100%;
    background-color: white;
    height: 6vh;
    position: relative;
    border-bottom: 5px solid blue;
    text-align: center;
}

button.top-button {
    border: 0;
    margin: 0;
    position: absolute;
    top: -0.5vh;
    color: white;
    background-color: var(--blue-but);
    text-align: center;
    height: 5vh;
    padding: 0 2vw;
    font-weight: bold;
    border: 1px solid #226699;
    border-radius: 5%;
}

button.top-button:hover {
    opacity: .8;
    border-width: 2px;
}

img#upper-casa-logo {
    width: auto;
    height: 15vh;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 12vw;
    border-bottom: 5px solid blue;
}

img#upper-casa-logo::before, img#upper-casa-logo::after {
    content: "";
    width: 0;
    height: 0;
    border: 2px solid red;
    z-index: 3;
}

p.title {
    color: rgb(200, 0, 0);
    font-weight: bold;
    font-size: 1.4em;
}

button.back-button {
    left: 2vw;
}

button.track-button {
    right: 2vw;
}
    
div.nav-bottom {
    height: 6vh;
    width: 100vw;
    background-image: linear-gradient(to right, var(--blue-but), rgb(218, 236, 246));
}