{% extends 'track/base.html' %}{% load static %} {% block pageContent %}
<div class="section">
   <div class="container">
      <h2 class="h2-home">Submit a Tracking Form</h2>
      <br>
      <form method="POST" action='/' class="post-form">
         {% csrf_token %}
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">Supervisor</h3>
               
               <select name='supervisor' class="form-control">
                  <option value="" selected disabled hidden>Choose your supervisor</option>
                  {% for user in users %}
                  {% if user.is_active == True %}
                  <option value='{{user.username}}'>{{user.get_full_name}}</option>
                  {% endif %}
                  {% endfor %}
               </select>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">Advocate's Name</h3>
               <input name='advocate' type="text" class="form-control" value="" required>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">Advocate's Email</h3>
               <input name='advocate_email' type="email" class="form-control" value="" required>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">Child's Name</h3>
               <input name='child_name' type="text" class="form-control" value="" required>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">Month, Year</h3>
               <input name='month' class="datetimepicker_month" id="month" placeholder="Pick Month" required>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">How many hours did you spend with your CASA child/ren this month?</h3>
               <input name='hours_spent' type="number" step="0.01" class="form-control" value="" required>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">How many hours did you spend on this child/ren's education this month?</h3>
               <input name='hours_education' type="number"  step="0.01" class="form-control" id="hours_education" value="" required>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">How many additional hours did you spend on your case this month?</h3>
               <input name='hours_on_case' type="number" step="0.01" class="form-control" id="hours_on_case" value="" required>
            </div>
         </div>
         <div class="col-12">
               <div class="form-group">
                  <h3 class="label-control">Did you read <i>The Voice</i>?</h3>
                  <select name='the_voice' class="form-control">
                     <option value="" selected disabled hidden>Yes or No</option>
                     <option value="Yes" type="text">Yes</option>
                     <option value="No" type="text">No</option>
                  </select>
               </div>
            </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">What continuing education did you do this month?</h3>
               <h4>(Name/date & hours of training; Name of book/movie and number of pages/hours of movie)</h4>
               <input name='continuing_edu' type="text" class="form-control" id="continuing_edu" value="" required>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">How many miles did you drive for CASA activities this month?</h3>
               <input name='miles_driven' type="number" step="0.01" class="form-control" id="miles_driven" value="" required>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">Did you have a face-to-face meeting with your Advocate Supervisor this month?</h3>
               <select name='face_advocate_sv_hours' class="form-control">
                  <option value="" selected disabled hidden>Yes or No</option>
                  <option value="Yes" type="text">Yes</option>
                  <option value="No" type="text">No</option>
               </select>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">Did you have phone or email contact with your Advocate Supervisor this month?
               </h3>
               <select name='phone_advocate_sv' class="form-control">
                     <option value="" selected disabled hidden>Yes or No</option>
                     <option value="Yes" type="text">Yes</option>
                     <option value="No" type="text">No</option>
               </select>
            </div>
         </div>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">Other volunteering for CASA this month?</h3>
               <input name='casa_volunteering' type="text" class="form-control" id="casa_volunteering" value=""
                  required>
            </div>
         </div>
         <div class="col-12">
               <div class="form-group">
                  <h3 class="label-control">Other volunteering outside of CASA this month?</h3>
                  <input name='other_volunteering' type="text" class="form-control" id="other_volunteering" value=""
                     required>
               </div>
            </div>
         <br>
         <div class="col-12">
            <div class="form-group">
               <h3 class="label-control">Signature and Date</h3>
               <input type="hidden" id="signature_URL" name="esignature">
               <canvas id='canvas_signature' height="160px" width="800px"></canvas>
               <div>
                  <button type="button" id="signature_undo">Undo</button>
                  <button type="button" id="signature_clear">Clear</button>
                  <input name='signature_date' class="datetimepicker" id="signature_date" placeholder="Pick Date"
                     required>
                  <!-- should the date auto fill? -->
               </div>
            </div>
         </div>
         <br>
         <div class="section">
            <div class="col-12">
               <button class="btn btn-success" type="submit">
                  <i class="material-icons">done</i> Submit
               </button>
            </div>
         </div>
      </form>
   </div>
</div>

{% endblock pageContent %} {% block pageScripts %}
<script src="{% static 'track/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
<script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.1.3/dist/bootstrap-validate.js"></script>

<!-- signature pad js -->
<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

<script>
   var canvas = document.getElementById('canvas_signature');
   canvas.style.backgroundColor = "white";
   var signaturePad = new SignaturePad(canvas);

   document.querySelector('form').addEventListener('submit', e => {
      // encodes signature into URI blob
      document.getElementById('signature_URL').value = signaturePad.toDataURL();
   });

   document.getElementById('signature_clear').addEventListener('click', function () {
      signaturePad.clear();
   });

   document.getElementById('signature_undo').addEventListener('click', function () {
      var data = signaturePad.toData();
      if (data) {
         data.pop(); // remove the last dot or line
         signaturePad.fromData(data);
      }
   });

   document.getElementById('signature_date').value = new Date().toLocaleDateString("en-US");
</script>

{% endblock pageScripts %}