{% extends 'track/base.html' %}{% load static %} {% block pageHeader %}{% endblock pageHeader %}
{% block pageContent %}
<div id='gCalendar'>
    <iframe src="https://calendar.google.com/calendar/embed?title=SLO%20CASA%20Activity%20Calendar&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=activitycalendar%40slocasa.org&amp;color=%236B3304&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock pageContent %}