{% load static %}

<html>

<head>
    <title>SLO CASA Tracking Form</title>
    <link href="{% static 'track/css/pdf-output.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="header">
        <img src="{% static '/track/img/slocasa_logo.jpg' %}" />
        <h3>CASA Tracking Form</h3>
    </div>

    <h2>{{ form.advocate }}</h2>
    <p>Supervisor: {{ form.supervisor }}</p>
    <p>Child: {{ form.child_name }}</p>
    <p>{{ form.month }}</p>
    <div class="break"></div>
    <div class="topic">
        <p>Hours</p>
        <p>Spent with child: {{ form.hours_spent }}</p>
        <p>Spent on education: {{ form.hours_education }}</p>
        <p>Additional hours: {{ form.hours_on_case }}</p>
    </div>

    <div class="topic">
        <p>Miscellaneous</p>
        <p>Miles driven: {{ form.miles_driven }}</p>
        <p class="multiline">Continuing education: {{ form.continuing_edu }}</p>
    </div>

    <div class="topic">
        <p>Supervisor</p>
        <p class="multiline">Phone or email contact: {{ form.phone_advocate_sv }}</p>
        <p>Face-to-face meeting: {{ form.face_advocate_sv_hours }}</p>
    </div>

    <div class="topic">
        <p>Outside Volutneering</p>
        <p class="multiline">CASA related: {{ form.casa_volunteering }}</p>
        <p class="multiline">Other volutneering: {{ form.other_volunteering }}</p>
    </div>

    <div id="signature">
        <img src="{{ form.esignature }}">
        <p>{{ form.signature_date }}</p>
    </div>
    
    
    <div class="super_sig">
        <div class="line"></div>
        Supervisor signature
    </div>

    <h5 class="footer">Powered by Hack4Impact - Cal Poly</h5>
</body>

</html>