{% extends 'track/base.html' %}{% load static %} {% block pageContent %}
<h1>Tracking Form</h1>
<h3>Supervisor</h3>
<input type="text"></input>
<h3>Child's Name</h3>
<input type="text"></input>
<h3>Month, Year</h3>

<h3>How many hours did you spend with your CASA child/ren this month?</h3>
<input type="text"></input>
<h3>How many hours did you spend on this child/ren's education this month?</h3>
<input type="text"></input>
<h3>How many additional hours did you spend on your case this month?</h3>
<input type="text"></input>

<h3>What continuing education did you do this month?</h3>
<input type="text"></input>
<h3>How many miles did you drive for CASA activities this month?</h3>
<input type="text"></input>
<h3>Did you have a face-to-face meeting with your Advocate Supervisor this month? (State in hours)</h3>
<input type="text"></input>
<h3>Did you have phone or email contact with your Advocate Supervisor this month?</h3>
<input type="text"></input>

<h3>Other volunteering for CASA this month?</h3>
<input type="text"></input>
<h3>What other volunteering did you do this month besides CASA?</h3>
<input type="text"></input>
{% endblock pageContent %}